<div class="page-wrapper">
  <header class="top-header">
    <a routerLink="/">
      <img src="/assets/images/logo.svg" alt="Code à Cuisine" class="logo-small" />
    </a>
    <a routerLink="/" class="back-link">
      <img src="/assets/images/arrow-left.svg" alt="back" /> Back
    </a>
  </header>
  <div class="hero-card">
    <div class="hero-text">
      <h1 class="page-title">Cookbook</h1>
      <p class="page-subtitle">
        From quick bites to gourmet delights, explore them all in our ultimate 
        cookbook and get inspired for your next culinary adventure.
      </p>
    </div>
    <div class="most-liked-section">
      <h3 class="section-title">
        Most liked recipes <img src="/assets/images/favorite.svg" alt="heart" class="heart-icon"/>
      </h3>
      
      <div class="liked-recipes-container"
       #scrollContainer
        (mousedown)="onMouseDown($event)"
        (mouseleave)="onMouseLeave()"
        (mouseup)="onMouseUp()"
        (mousemove)="onMouseMove($event)">
        <div class="mini-recipe-card" *ngFor="let recipe of mostLikedRecipes">
          <div class="mini-header">
            <span class="mini-time">
              <img src="/assets/images/clock.svg" alt="time" /> Cooking time: {{ recipe.time }}
            </span>
            <span class="mini-likes">
              <img src="/assets/images/favorite-small.svg" alt="likes" /> {{ recipe.likes }}
            </span>
          </div>
          <h4 class="mini-title">{{ recipe.title }}</h4>
        </div>
      </div>
    </div>
    
  </div>

  <div class="cuisine-grid">
    
    <div class="cuisine-item" *ngFor="let cuisine of cuisines" [routerLink]="['/cookbook', cuisine.id]">
      <h3 class="cuisine-title">{{ cuisine.name }} <span class="emoji">{{ cuisine.emoji }}</span></h3>
      <div class="cuisine-img-wrapper">
          <img [src]="cuisine.image" [alt]="cuisine.name" class="cuisine-img" />
      </div>
    </div>

  </div>
  <div class="footer-action">
   <a routerLink="/generate" class="new-recipe-link">
        Generate new recipe 
        <img class="arrow-icon" src="/assets/images/arrow-righ-greent.svg" alt="right arrow icon">
        </a>
  </div>

</div>