<div class="page-wrapper">
  
  <header class="top-header">
    <div class="header-left">
      <a routerLink="/" class="logo-link">
        <img src="assets/images/logo.svg" alt="Code à Cuisine" class="logo-small" />
      </a>
      <a routerLink="/cookbook" class="back-link">
        <img src="assets/images/arrow-left.svg" alt="back" /> Cookbook
      </a>
    </div>
    
    <button class="btn-dark-green" routerLink="/generate">Generate a recipe</button>
  </header>

  <div class="banner-container">
  <picture>
    <source 
      media="(max-width: 900px)" 
      [srcset]="'assets/images/' + currentCategory + '-mobile.svg'">
    
  
    <img 
      [src]="'assets/images/' + categoryBanner" 
      alt="Category Banner" 
      class="category-banner" />
  </picture>
</div>

  <div class="recipe-list">
    <div class="list-row" *ngFor="let item of recipes; let i = index">
      
      <div class="row-left">
        <div class="number-circle">{{ i + 1 }}</div>
        
        <div class="row-info">
          <div class="time-info">
            <img src="assets/images/clock.svg" alt="clock" /> Cooking time: {{ item.time }}
          </div>
          <h3 class="recipe-title" [routerLink]="['/recipe', item.id]">{{ item.title }}</h3>
        </div>
      </div>

      <div class="row-right">
        <span class="tag" *ngFor="let tag of item.tags">{{ tag }}</span>
        <span class="tag like-tag">
          <img src="assets/images/favorite-small.svg" alt="likes"/> {{ item.likes }}
        </span>
      </div>

    </div>
  </div>
  <div class="pagination" *ngIf="totalPages > 0">
    <span class="page-arrow" 
          (click)="goToPage(currentPage - 1)"
          [style.opacity]="currentPage === 1 ? '0.3' : '1'"
          [style.pointer-events]="currentPage === 1 ? 'none' : 'auto'"
          [style.cursor]="currentPage === 1 ? 'default' : 'pointer'">
      &lt;
    </span>
    <span class="page-num" 
          *ngFor="let p of pageNumbers" 
          [class.active]="currentPage === p" 
          (click)="goToPage(p)">
      {{ p }}
    </span>
    <span class="page-arrow" 
          (click)="goToPage(currentPage + 1)"
          [style.opacity]="currentPage === totalPages ? '0.3' : '1'"
          [style.pointer-events]="currentPage === totalPages ? 'none' : 'auto'"
          [style.cursor]="currentPage === totalPages ? 'default' : 'pointer'">
      &gt;
    </span>

  </div>
  <div class="mobile-action-container">
    <button class="btn-dark-green" routerLink="/generate">Generate recipe</button>
  </div>

</div>